.DS_Store
node_modules/
npm-debug.log
*.swp

# Ignored but added with `npm run git_add-f`
public/bundle.js

# Only keep tris3d theme assets and minified version
public/semantic.css
public/semantic.min.js
public/semantic.js
public/themes/basic
public/themes/default
public/themes/github
public/themes/material

# Semantic custom files and dist.
!semantic/src/theme.config
!semantic/src/themes/tris3d/
