@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

$blue: #008cba;

body {
  color: #555;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: responsive; /* rucksack plugin feature */
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

a {
  display: flex;
  color: #e81c4f;
}

button {
  background-color: $blue;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
